<div class="sidebar bg-gradient-warning">
  <a mat-list-item class="sidebar-brand" routerLink="#">Chinto<sup>'s</sup> games</a>
  <hr class="sidebar-divider" />
  <a mat-list-item routerLink="/">Dashboard</a>
  <hr class="sidebar-divider" />
  <a mat-list-item routerLink="/serveurs/all">Serveurs</a>
  <a mat-list-item routerLink="/serveurs/minecraft">Minecraft</a>
  <a mat-list-item routerLink="/serveurs/palworld">Palworld</a>
  <hr class="sidebar-divider" />
  <a mat-list-item routerLink="/futur">Plus de jeux à venir !</a>
</div>
